@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-pagination-bullet-active {
  background-color: #00aff0 !important;
}

.material-symbols-outlined {
  transform: translateY(5px);
}
